!.gitignore
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# for Jupyter
.ipynb_checkpoints
**/.ipynb_checkpoints/
**/.*

s1.7/jupyter/GradientDescent/.ipynb_checkpoints/GradientDescent-checkpoint.ipynb

s1.7/jupyter/GradientDescent/.ipynb_checkpoints/GradientDescent-checkpoint.ipynb

s1.7/jupyter/GradientDescent/.ipynb_checkpoints/GradientDescent-checkpoint.ipynb

s1.7/jupyter/MLP/.ipynb_checkpoints/MLP-checkpoint.ipynb
